apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 416225317325.dkr.ecr.us-east-2.amazonaws.com/aivle-bookservice-team5-backend:latest

          imagePullPolicy: Always

          ports:
            - containerPort: 8080